{% load i18n %}
<div class="d-flex justify-content-center mb-3">
    <div class="card border-info">
        <div class="card-body py-2">
            <div class="card-title py-1">
                <h5 class="text-center">{% trans "Not logged in" %}</h5>
                <p class="text-muted">{% trans "Remember to " %}<a class="text-info" href="{% url 'register' %}">{% trans "Register" %}</a>{% trans " or " %}<a class="text-info" href="{% url 'login' %}">{% trans "Login" %}</a>{% trans " to save your information and be able to track your expenses and investments!" %}</p>
            </div>
        </div>
    </div>
</div>