{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" data-bs-theme="dark">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Budget Tracker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>Home</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" aria-current="page" href="{% url 'dashboard' %}">
              <svg class="bi"><use xlink:href="#house-fill"/></svg>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'income' or request.resolver_match.url_name == 'edit-income' or request.resolver_match.url_name == 'add-income' %}active{% endif %}" href="{% url 'income' %}">
              <svg width="16" height="16" fill="currentColor" class="bi">
                <use xlink:href="#income"/>
              </svg>
              Income
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'expenses' or request.resolver_match.url_name == 'edit-expenses' or request.resolver_match.url_name == 'add-expenses'%}active{% endif %}" href="{% url 'expenses' %}">
              <svg class="bi"><use xlink:href="#cart"/></svg>
              Expenses
            </a>
          </li>

        <hr class="my-2">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>Summary</span>
        </h6>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'income_summary' %}active{% endif %}" href="{% url 'income_summary' %}">
              <svg width="16" height="16" fill="currentColor" class="bi">
                <use xlink:href="#summary"/>
              </svg>
              Income Summary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'expenses_summary' %}active{% endif %}" href="{% url 'expenses_summary' %}">
              <svg width="16" height="16" fill="currentColor" class="bi">
                <use xlink:href="#summary"/>
              </svg>
              Expenses Summary
            </a>
          </li>
        </ul>

        <hr class="my-2">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>Account</span>
        </h6>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'preferences' %}active{% endif %}" href="{% url 'preferences' %}">
              <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
              Preferences & Settings
            </a>
          </li>
          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'logout' %}">
              <svg class="bi"><use xlink:href="#door-closed"/></svg>
              Sign out
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'login' %}">
              <svg width="16" height="16" fill="currentColor" class="bi">
                <use xlink:href="#login"/>
              </svg>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'register' %}">
              <svg width="16" height="16" fill="currentColor" class="bi">
                <use xlink:href="#register"/>
              </svg>
              Register
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>