{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="{% static 'css/summaries.css' %}" rel="stylesheet">

<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <br>
        {% include 'partials/_messages.html' %}
        
        <h2 class="h3 mb-4 page-title">{% trans "Preferences" %}</h2>
        {% if user.username %}
            <p>{% trans "Select your desired preferences" %}, {{user.username}}!</p>
        {% else %}
            <p>{% trans "Select your desired preferences!" %}</p>
        {% endif %}
<div class="list-group mb-5 shadow">
    <form id="preferencesForm" action="{% url 'preferences' %}" method="post">
        {% csrf_token %}
        <div class="list-group-item">
            <div class="row align-items-center">
                <div class="col">
                    <strong class="mb-2">{% trans "Select your preferred currency!" %}</strong>
                    {% if saved %}
                    <span class="badge badge-pill badge-success">{% trans "Current:" %} {{saved.0}}</span>  <!-- Change this to the user preferred one -->
                    {% else %}
                    <span id="currentCurrency" class="badge badge-pill badge-success">{% trans "Current:" %} USD - United States Dollar</span>
                    {% endif %}
                    <select id="currencySelect" name="currency" class="form-select" aria-label="Default select example">
                        {% if saved %}
                        <option selected>{{saved.0}}</option>
                        {% endif %}
                        {% for currency in currencies %}
                        <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    
        <div class="list-group-item">
            <div class="row align-items-center">
                <div class="col">
                    <strong class="mb-2">{% trans "Language" %}</strong>
                    {% if saved %}
                    <span class="badge badge-pill badge-success">{% trans "Current:" %} {% if saved.1 == 'en' %} English {% elif saved.1 == 'es' %} Español {% else %} 日本語 {% endif %}</span>  <!-- Change this to the user preferred one -->
                    {% else %}
                    <span id="currentLanguage" class="badge badge-pill badge-success">{% trans "Current:" %} English</span>
                    {% endif %}
                    <p class="text-muted mb-2">{% trans "Select your preferred language." %}</p>
                    <select id="languageSelect" name="language" class="form-select" aria-label="Default select example">
                        {% if saved %}
                            {% if saved.1 == 'en' %}
                                <option value="en" selected>English</option>
                            {% elif saved.1 == 'es' %}
                                <option value="es" selected>Español</option>
                            {% else %}
                                <option value="ja" selected>日本語</option>
                            {% endif %}
                        {% endif %}
                        <option name="language" value="en">{% trans "English" %}</option>
                        <option name="language" value="es">{% trans "Spanish" %}</option>
                        <option name="language" value="ja">{% trans "Japanese" %}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <strong class="mb-2">{% trans "Save Changes" %}</strong>
                    <p class="text-muted mb-1">{% trans "Remember to save so the changes can take place!" %}</p>
                    <div class="d-grid col-3">
                        <input class="btn btn-success" type="submit" value='{% trans "Save Changes" %}'>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if user.username %}
    <br>
    <h2 id="SettingsExist" class="h3 mb-4 page-title">{% trans "Settings" %}</h2>
    <p>{% trans "Account Settings" %}</p>
    <div class="list-group-item">
        <div class="row align-items-center mb-3">
            <div class="col">
                <strong class="mb-2">{% trans "Change password?" %}</strong>
                <p class="text-muted mb-1">{% trans "We will send you an email with a link to change your password" %}</p>
                <div class="d-grid col-3">
                    <a class="btn btn-info" href="{% url 'reset_password' %}">{% trans "Change password" %}</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-3">
            <div class="col">
                <strong class="mb-2">{% trans "Delete account?" %}</strong>
                <p class="text-muted mb-1">{% trans "This change is not reversible and you won't be able to get your data back." %}</p>
                <div class="d-grid col-3">
                    <button id="deleteButton" class="btn btn-danger" data-bs-target="#delete-modal" data-bs-toggle="modal" value="{{ user.pk }}">{% trans "Delete account" %}</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {% trans "Account Deletion" %}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="modal-body text-muted">
                                    {% trans "Deleting your account removes your profile and all associated data. This change is irreversible.
                                    Are you sure you want to proceed? (Check the box below to enable the Deletion button.)" %}
                                </div>
                                <div class="form-check d-inline-block">
                                    <input class="form-check-input" type="checkbox" id="confirmCheckbox">
                                    <label class="form-check-label" for="confirmCheckbox">
                                        {% trans "I understand the consequences." %}
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-danger"  id="deleteAccountButton" disabled>{% trans "Delete Account" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if user.username %}
<script src="{% static 'js/settings.js' %}"></script>
{% else %}
<script src="{% static 'js/non-auth/preferences.js' %}"></script>
{% endif %}
{% endblock %}