{% extends 'base.html' %}

{% block content %}
<!-- Breadcrumb -->
<div class="container mt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'income' %}">Income</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>
</div>

<!-- Income form -->

<div class="container mt-5">
    <h2 class="mb-3">Income Form</h2>
    <form action="{% url 'add-income' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="IncomeName" class="form-label">Income Name</label>
            <input name="incomeName" type="text" class="form-control" id="incomeName" placeholder="Enter income name" required>
        </div>
        <div class="mb-3">
            <label for="incomeDate" class="form-label">Date</label>
            <input name="datePicked" type="date" class="form-control" id="incomeDate" placeholder="dd-mm-yyyy" value="">
        </div>
        <div class="mb-3">
            <label for="incomeAmount" class="form-label">Amount</label>
            <input name="amount" type="number" class="form-control" id="incomeAmount" step="0.01" placeholder="Enter amount" required>
        </div>
        <div class="mb-3">
            <label for="incomeSource" class="form-label">Source</label>
            <select name="source" class="form-select" id="incomeSource" required>
                <option value="" selected>Select source</option>
                {% for source in sources %}
                    <option name="source" value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="incomeDescription" class="form-label">Description (Optional)</label>
            <textarea name="description" class="form-control" id="incomeDescription" rows="3" placeholder="Enter description" value="No description provided"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Income">
    </form>
</div>

<script>document.getElementById('incomeDate').valueAsDate = new Date();</script>
{% endblock %}