{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<!-- Breadcrum -->

<div class="container mt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard' %}">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'income' %}">{% trans "Income" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Edit Income" %}</li>
        </ol>
    </nav>
</div>

<!-- User not authenticated card. -->
{% if not user.username %}
{% include 'partials/_nouser.html' %}
{% endif %}

<div class="container mt-5">
    <h2 class="mb-3">{% trans "Income Form" %}</h2>
    <form id="incomeForm" {% if user.username %}action="{% url 'edit-income' income.id %}"{% else %}action=""{% endif %} method="POST">
        {% csrf_token %}
        {% if user.username %}
        <div class="mb-3">
            <label for="incomeName" class="form-label">{% trans "Income Name" %}</label>
            <input name="incomeName" type="text" class="form-control" id="incomeName" value="{{ income.name }}" required>
        </div>
        <div class="mb-3">
            <label for="incomeDate" class="form-label">{% trans "Date" %}</label>
            <input name="datePicked" type="date" class="form-control" id="incomeDate" placeholder="dd-mm-yyyy" value="{{ income.date|date:'Y-m-d' }}">
        </div>
        <div class="mb-3">
            <label for="incomeAmount" class="form-label">{% trans "Amount" %}</label>
            <input name="amount" type="number" class="form-control" id="incomeAmount" step="0.01" placeholder="Enter amount" value="{{ income.amount|floatformat:2 }}" required>
        </div>
        <div class="mb-3">
            <label for="incomeSource" class="form-label">{% trans "Source" %}</label>
            <select name="source" class="form-select" id="incomeSOurce" required>
                <option value="{{ income.source }}" selected>{{ income.source }}</option>
                {% for source in sources %}
                    <option name="source" value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="incomeDescription" class="form-label">{% trans "Description (Optional)" %}</label>
            {% if income.description != "No description provided." %}
            <textarea name="description" class="form-control" id="incomeDescription" rows="3" placeholder="Enter description">{{ income.description }}</textarea>
            {% else %}
            <textarea name="description" class="form-control" id="incomeDescription" rows="3" placeholder="Enter description"></textarea>
            {% endif %}
        </div>
        <input type="submit" class="btn btn-primary" value='{% trans "Save Changes" %}'>
        {% else %}
        <input id="ElementId" style="display: none;" value="{{incomes}}"> <!-- We store the id of the item to edit here to get it in the JS file. -->
        <div class="mb-3">
            <label for="incomeName" class="form-label">{% trans "Income Name" %}</label>
            <input name="incomeName" type="text" class="form-control" id="incomeName" value="" required>
        </div>
        <div class="mb-3">
            <label for="incomeDate" class="form-label">{% trans "Date" %}</label>
            <input name="datePicked" type="date" class="form-control" id="incomeDate" placeholder="dd-mm-yyyy" value="">
        </div>
        <div class="mb-3">
            <label for="incomeAmount" class="form-label">{% trans "Amount" %}</label>
            <input name="amount" type="number" class="form-control" id="incomeAmount" step="0.01" placeholder="Enter amount" value="" required>
        </div>
        <div class="mb-3">
            <label for="incomeSource" class="form-label">{% trans "Source" %}</label>
            <select name="source" class="form-select" id="incomeSource" required>
                <option value="" selected></option>
                {% for source in sources %}
                    <option name="source" value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="incomeDescription" class="form-label">{% trans "Description (Optional)" %}</label>
            <textarea name="description" class="form-control" id="incomeDescription" rows="3" placeholder='{% trans "Enter description" %}'></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value='{% trans "Save Changes" %}'>
        {% endif %}
    </form>
</div>

{% if not user.username %}
<script>
    const sourcesUrl = "{% url 'get_sources' %}"; //Just to get the django URL.
</script>
<script src="{% static 'js/non-auth/edit-income.js' %}"></script>
{% endif %}
{% endblock %}
