{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrum -->

<div class="container mt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'expenses' %}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'income' %}">Income</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
        </ol>
    </nav>
</div>

<div class="container mt-5">
    <h2 class="mb-3">Income Form</h2>
    <form action="{% url 'edit-income' income.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="incomeName" class="form-label">Income Name</label>
            <input name="incomeame" type="text" class="form-control" id="incomeName" value="{{ income.name }}" required>
        </div>
        <div class="mb-3">
            <label for="incomeDate" class="form-label">Date</label>
            <input name="datePicked" type="date" class="form-control" id="incomeDate" placeholder="dd-mm-yyyy" value="{{ income.date|date:'Y-m-d' }}">
        </div>
        <div class="mb-3">
            <label for="incomeAmount" class="form-label"></label>
            <input name="amount" type="number" class="form-control" id="incomeAmount" placeholder="Enter amount" value="{{ income.amount }}" required>
        </div>
        <div class="mb-3">
            <label for="incomeSource" class="form-label">Source</label>
            <select name="source" class="form-select" id="incomeSOurce" required>
                <option value="{{ income.source }}" selected>{{ income.source }}</option>
                {% for source in sources %}
                    <option name="source" value="{{source}}">{{source}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="incomeDescription" class="form-label">Description (Optional)</label>
            {% if income.description != "No description provided." %}
            <textarea name="description" class="form-control" id="incomeDescription" rows="3" placeholder="Enter description">{{ income.description }}</textarea>
            {% else %}
            <textarea name="description" class="form-control" id="incomeDescription" rows="3" placeholder="Enter description"></textarea>
            {% endif %}
        </div>
        <input type="submit" class="btn btn-primary" value="Save Changes">
    </form>
</div>

{% endblock %}
