{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/charts-summmary.css' %}" rel="stylesheet">

<!-- Breadcrum -->

<div class="container mt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'expenses' %}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'income' %}">Income</a></li>
        <li class="breadcrumb-item active" aria-current="page">Income Summary</li>
        </ol>
    </nav>
</div>

{% if not user.username %}
<div class="d-flex justify-content-center">
    <div class="card border-info">
        <div class="card-body py-2">
            <div class="card-title py-1">
                <h5 class="text-center">Not logged in</h5>
                <p class="text-muted">Remember to <a class="text-info" href="{% url 'register' %}">Register</a> or <a class="text-info" href="{% url 'login' %}">Login</a> to save your information and be able to track your expenses and investments!</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center md-5">
                <h3><strong>No summary to show!</strong></h3><br><h4 class="text-muted">You have no income yet.</h4><br>
                <a href="{% url 'income' %}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">Create some Income</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="GraphContainer" class="container mt-5">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center">
            <h1>Income Summary</h1>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <select id="graphStyle" class="form-select" aria-label="Default select example">
                <option selected value="doughnut">Doughnut Chart</option>
                <option value="pie">Pie Chart</option>
                <option value="line">Line Chart</option>
                <option value="bar">Bar Chart</option>
            </select>
        </div>
    </div>
    <br>
    <!-- Graph -->
    <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script href="https://cdnjs.com/libraries/Chart.js"></script>
<script src="{% static 'js/income-chart.js' %}"></script>

{% endblock %}