{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<link href="{% static 'css/summaries.css' %}" rel="stylesheet">

<!-- Breadcrum -->

<div class="container mt-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard' %}">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'income' %}">{% trans "Income" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Income Summary" %}</li>
        </ol>
    </nav>
</div>

{% if not user.username %}
<!-- User not authenticated card. -->
{% include 'partials/_nouser.html' %}

<div class="container mt-5">
    <div id="NoGraph" class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center md-5">
                <h3><strong>{% trans "No summary to show!" %}</strong></h3><br><h4 class="text-muted">{% trans "You have no income yet." %}</h4><br>
                <a href="{% url 'add-income' %}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">{% trans "Create some Income" %}</a>
            </div>
        </div>
    </div>
    <div id="GraphContainer" class="container mt-5" style="display: none;">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <h1>{% trans "Income Summary" %}</h1>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <select id="graphStyle" class="form-select" aria-label="Default select example">
                    <option selected value="doughnut">{% trans "Doughnut Chart" %}</option>
                    <option value="pie">{% trans "Pie Chart" %}</option>
                    <option value="line">{% trans "Line Chart" %}</option>
                    <option value="bar">{% trans "Bar Chart" %}</option>
                </select>
            </div>
        </div>
        <br>
        <!-- Graph -->
        <div class="d-flex justify-content-center">
            <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

{% else %}
    {% if income %}
    <div id="GraphContainer" class="container mt-5">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <h1>{% trans "Income Summary" %}</h1>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <select id="graphStyle" class="form-select" aria-label="Default select example">
                    <option selected value="doughnut">{% trans "Doughnut Chart" %}</option>
                    <option value="pie">{% trans "Pie Chart" %}</option>
                    <option value="line">{% trans "Line Chart" %}</option>
                    <option value="bar">{% trans "Bar Chart" %}</option>
                </select>
            </div>
        </div>
        <br>
        <!-- Graph -->
        <div class="d-flex justify-content-center">
            <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center md-5">
                    <h3><strong>{% trans "No summary to show!" %}</strong></h3><br><h4 class="text-muted">{% trans "You have no income yet." %}</h4><br>
                    <a href="{% url 'income' %}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">{% trans "Create some Income" %}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script href="https://cdnjs.com/libraries/Chart.js"></script>
{% if user.username %}
<!-- scripts for Auth -->
<script src="{% static 'js/income-chart.js' %}"></script>
{% else %}
<!-- scripts for Non-Auth -->
<script src="{% static 'js/non-auth/income-chart.js' %}"></script>
{% endif %}

{% endblock %}