
:root {
    --primary-color: #0d6efd;
    --primary-hover-color: #0a58ca;
    --input-bg-color: #ffffff;
    --input-text-color: #000000;
    --input-border-color: #ced4da;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #375a7f;
        --primary-hover-color: #2c3e50;
        --input-bg-color: #2c3e50;
        --input-text-color: #ffffff;
        --input-border-color: #34495e;
    }
}

/* Pagination style */
.pagination .page-item .page-link {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.pagination .page-item.active .page-link {
    background-color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
}
.pagination .page-item .page-link:hover {
    color: #fff;
    background-color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
}

.form-control {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border-color: var(--input-border-color);
}

.form-control:focus {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border-color: var(--input-border-color);
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* Custom styles for centering checkboxes and labels */
.modal-body .form-check-inline {
    margin: 0 10px;
}