{% extends 'base_auth.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<link href="{% static 'css/login.css' %}" rel="stylesheet">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-3">
        <div class="card mt-5">
            <div class="card-body py-3">
                <div class="card-title py-3">
                    <h4 class="text-center">Log into your account!</h4>
                </div>

                <form action="{% url 'login' %}" method="post" id="loginForm">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <!-- Username input -->
                    <div data-mdb-input-init class="form-floating mb-4">
                      <input type="text" id="usernameField" name="username" class="form-control bg-dark text-success" value="{{fieldValues.username}}" placeholder="username"/>
                      <label class="form-label text-success bg-text-primary" for="usernameField">Username</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-floating mb-4">
                        <input type="password" id="passwordField" name="password" class="form-control bg-dark text-success" placeholder="password"/>
                        <label class="form-label text-success" for="passwordField">Password</label>
                    </div>

                    <!-- Submit button -->
                    <div data-mdb-input-init class="form-outline mb-4 d-flex justify-content-center">
                        <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn w-100">
                    </div>

                    <!-- Register buttons -->
                    <div class="col d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="{% url 'reset_password' %}">Forgot password?</a>
                    </div>
                    <hr class="my-2">
                    <div class="text-center">
                      <p>Not a member?<br><a href="register">Register!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}