{% extends 'base_auth.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    
<div class="d-flex justify-content-center align-items-center w-100">
    <div class="col-md-3">
        <div class="card mt-5">
            <div class="card-body py-3">
                <div class="card-title py-3">
                    <h3 class="text-center">
                        Password reset complete
                    </h2>
                    <hr class="">
                    <p class="text-muted">
                        Your new password has been set. You may go ahead and log in now!
                    </p>
                    <br>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{% url 'login' %}" class="btn btn-block btn-primary submit-btn w-50">LOGIN NOW!</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}