{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if not user.username %}
{% include 'partials/_nouser.html' %}
<div class="container mt-5">
    <!-- Header -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">Dashboard</h1>
        </div>
    </div>

    <!-- Cards -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Balance</h5>
                    <p class="card-text" id="totalBalance">$0.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Expenses</h5>
                    <p class="card-text" id="totalExpenses">$0.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Income</h5>
                    <p class="card-text" id="totalIncome">$0.00</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Transactions</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody id="transactionTable">
                                <!-- Rows will be populated by JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5">
    <!-- Header -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">Dashboard</h1>
        </div>
    </div>

    <!-- Cards -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Balance</h5>
                    <p class="card-text" id="totalBalance"> {{ balances.Balance }}</p>
                    <p>{{ preferences }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Expenses</h5>
                    <p class="card-text" id="totalExpenses"> {{ balances.Expenses }}</p>
                    <p>{{ preferences }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Income</h5>
                    <p class="card-text" id="totalIncome"> {{ balances.Income }}</p>
                    <p>{{ preferences }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activity</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            {% for entry in balances.latest_entries %}
                            <tbody id="transactionTable">
                                <tr>
                                    <td>{{ entry.name}}</td>
                                    <td>{{ entry.date }}</td>
                                    <td>{{ entry.description }}</td>
                                    {% if entry.entry_type == 'Expense' %}<td class="text-danger">{{ entry.amount }}</td>{% else %}<td class="text-success">{{ entry.amount }}</td>{% endif %}
                                    <td>{% if entry.entry_type == 'Expense' %}Expense{% else %}Income{% endif %}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if balances.latest_entries %}
    <!-- Graph -->
    <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}
