{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="container mt-5">
    {% if not user.username %}
    <!-- No authentication -->
    {% include 'partials/_nouser.html' %}
    {% endif %}
    <!-- Message to display -->
    {% include 'partials/_messages.html' %}


    <!-- Header -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">{% trans "Dashboard" %}</h1>
        </div>
    </div>

    {% if not user.username %}
    <!-- Cards -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center p-4">
                    <h5 class="card-title text-primary mb-3">{% trans "Total Balance" %}</h5>
                    <p class="card-text display-4" id="totalBalance">0.00</p>
                    <p class="displayCurrency text-muted">USD</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center p-4">
                    <h5 class="card-title text-primary mb-3">{% trans "Total Expenses" %}</h5>
                    <p class="card-text display-4" id="totalExpenses">0.00</p>
                    <p class="displayCurrency text-muted">USD</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center p-4">
                    <h5 class="card-title text-primary mb-3">{% trans "Total Income" %}</h5>
                    <p class="card-text display-4" id="totalIncome">0.00</p>
                    <p class="displayCurrency text-muted">USD</p>
                </div>
            </div>
        </div>
    </div>

    <!-- When there is no data to show. -->
    <div id="noDataCard" class="container mt-5" style="display: block;">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-8">
                <div class="card shadow-sm">
                    <div class="card-body text-center p-5">
                        <h3 class="mb-3"><strong>{% trans "No data to show!" %}</strong></h3>
                        <h4 class="text-muted mb-4">{% trans "You have no transactions yet." %}</h4>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a href="{% url 'expenses' %}" class="btn btn-primary btn-lg px-4 rounded-pill me-md-2">{% trans "Create some Expenses" %}</a>
                            <a href="{% url 'income' %}" class="btn btn-primary btn-lg px-4 rounded-pill">{% trans "Create some Income" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div id="TableData" class="row" style="display: none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Recent Activity" %}</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th>{% trans "Amount" %}</th>
                                    <th>{% trans "Type" %}</th>
                                </tr>
                            </thead>
                            <tbody id="transactionTable">
                                <!-- Rows will be populated by JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- When there is data to show: -->
    <!-- Export and Import buttons -->
    <div id="exportImportContainer" class="container mt-1" style="display: none;">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-1">
                <div class="col-md-5 d-flex justify-content-between mt-1">
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openExportModal" data-bs-target="#data-modal" data-bs-toggle="modal">{% trans "Export Data" %}</a>
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openImportModal" data-bs-target="#import-modal" data-bs-toggle="modal">{% trans "Import Data" %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Graph -->
    <div id="graphContainer" class="d-flex justify-content-center" style="display: none;">
        <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    {% else %}

    <!-- Cards -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center p-4">
                    <h5 class="card-title text-primary mb-3">{% trans "Total Balance" %}</h5>
                    <p class="card-text display-4" id="totalBalance">{{ balances.Balance }}</p>
                    <p class="text-muted">{{ preferences }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center p-4">
                    <h5 class="card-title text-primary mb-3">{% trans "Total Expenses" %}</h5>
                    <p class="card-text display-4" id="totalExpenses">{{ balances.Expenses }}</p>
                    <p class="text-muted">{{ preferences }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center p-4">
                    <h5 class="card-title text-primary mb-3">{% trans "Total Income" %}</h5>
                    <p class="card-text display-4" id="totalIncome">{{ balances.Income }}</p>
                    <p class="text-muted">{{ preferences }}</p>
                </div>
            </div>
        </div>
    </div>

    {% if balances.latest_entries %}
    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans "Recent Activity" %}</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th>{% trans "Amount" %}</th>
                                    <th>{% trans "Type" %}</th>
                                </tr>
                            </thead>
                            {% for entry in balances.latest_entries %}
                            <tbody id="transactionTable">
                                <tr>
                                    <td>{{ entry.name}}</td>
                                    <td>{{ entry.date }}</td>
                                    <td>{{ entry.description }}</td>
                                    {% if entry.entry_type == 'Expense' %}<td class="text-danger">{{ entry.amount }}</td>{% else %}<td class="text-success">{{ entry.amount }}</td>{% endif %}
                                    <td>{% if entry.entry_type == 'Expense' %}{% trans "Expense" %}{% else %}{% trans "Income" %}{% endif %}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Export and Import buttons -->
    <div class="container mt-1">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-1">
                <div class="col-md-5 d-flex justify-content-between mt-1">
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openExportModal" data-bs-target="#data-modal" data-bs-toggle="modal">{% trans "Export Data" %}</a>
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openImportModal" data-bs-target="#import-modal" data-bs-toggle="modal">{% trans "Import Data" %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Graph -->
    <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    {% else %}
    <!-- When there is no data to show. -->
    <div id="noDataCard" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-8">
                <div class="card shadow-sm">
                    <div class="card-body text-center p-5">
                        <h3 class="mb-3"><strong>{% trans "No data to show!" %}</strong></h3>
                        <h4 class="text-muted mb-4">{% trans "You have no transactions yet." %}</h4>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4">
                            <a href="{% url 'expenses' %}" class="btn btn-primary btn-lg px-4 rounded-pill me-md-2">{% trans "Create some Expenses" %}</a>
                            <a href="{% url 'income' %}" class="btn btn-primary btn-lg px-4 rounded-pill">{% trans "Create some Income" %}</a>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a class="btn btn-primary btn-lg px-4 rounded-pill" data-bs-target="#import-modal" data-bs-toggle="modal">{% trans "Import Data" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
<!-- Export MODAL -->
<div class="modal fade" id="data-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Export Data" %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-body text-muted">
                    {% trans "Select the file format that you prefer:" %}
                </div>
                <form id="exportForm" method="post" action="{% url 'export_everything' %}">
                    {% csrf_token %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filetype" id="csvfile" value="csv">
                        <label class="form-check-label" for="csvfile">
                        CSV
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filetype" id="excelfile" value="xlsx">
                        <label class="form-check-label" for="excelfile">
                        EXCEL
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filetype" id="pdffile" value="pdf">
                        <label class="form-check-label" for="pdffile">
                        PDF
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" id="exportButton" disabled>{% trans "Export" %}</button>
            </div>
        </div>
    </div>
</div>
<!-- IMPORT MODAL -->
<div class="modal fade" id="import-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% trans "Import Data" %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if user.username %}
            <div class="modal-body text-center">
                <div class="modal-body text-muted">
                    <p>{% trans "Note that only" %} <strong>csv</strong> {% trans "and" %} <strong>xls/xlsx</strong> {% trans "files are supported for import as of now." %}</p>
                    {% trans "Do you want to delete the previous data and just keep the imported one? (Check the box below if that is the case)" %}
                </div>
                <div class="form-check d-inline-block">
                    <input class="form-check-input" type="checkbox" id="confirmCheckbox">
                    <label class="form-check-label" for="confirmCheckbox">
                        {% trans "Yes, I do wish to delete the previous data and just keep the imported one."%}
                    </label>
                </div>
                <div class="form-group mt-2">
                    <input type="file" id="fileInput" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" id="importIncomeButton">{% trans "Import" %}</button>
            </div>
            {% else %}
            <div class="modal-body text-center">
                <div class="modal-body text-muted">
                    {% trans "Sorry but only authenticated users can import data! Be sure to export your data in a" %} <strong>csv</strong> {% trans "or" %} <strong>xls/xlsx</strong> {% trans "file and" %}
                    <a class="text-info" href="{% url 'register' %}"> {% trans "Register!" %} </a>{% trans "or" %} <a class="text-info" href="{% url 'login' %}">{% trans "Login!" %}</a> {% trans "into an existing account to use this feature!" %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if user.username %}
<script>
    let pageLang = "{{balances.language}}"; // Get language.
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/importexport-dashboard.js' %}"></script>
{% else %}
<script src="{% static 'js/non-auth/dashboard.js' %}"></script>
<script src="{% static 'js/non-auth/export-dashboard.js' %}"></script>
{% endif %}

{% endblock %}
