{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    {% if not user.username %}
    <!-- No authentication -->
    {% include 'partials/_nouser.html' %}
    {% endif %}
    <!-- Message to display -->
    {% include 'partials/_messages.html' %}


    <!-- Header -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">Dashboard</h1>
        </div>
    </div>

    {% if not user.username %}
    <!-- Cards -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Balance</h5>
                    <p class="card-text" id="totalBalance">$0.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Expenses</h5>
                    <p class="card-text" id="totalExpenses">$0.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Income</h5>
                    <p class="card-text" id="totalIncome">$0.00</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Transactions</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody id="transactionTable">
                                <!-- Rows will be populated by JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- When there is data to show: -->
    <!-- Export and Import buttons -->
    <div id="exportImportContainer" class="container mt-1" style="display: none;">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-1">
                <div class="col-md-5 d-flex justify-content-between mt-1">
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openExportModal" data-bs-target="#data-modal" data-bs-toggle="modal">Export Data</a>
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openImportModal" data-bs-target="#import-modal" data-bs-toggle="modal">Import Data</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Graph -->
    <div id="graphContainer" class="d-flex justify-content-center" style="display: none;">
        <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    {% else %}

    <!-- Cards -->
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Balance</h5>
                    <p class="card-text" id="totalBalance"> {{ balances.Balance }}</p>
                    <p>{{ preferences }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Expenses</h5>
                    <p class="card-text" id="totalExpenses"> {{ balances.Expenses }}</p>
                    <p>{{ preferences }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Income</h5>
                    <p class="card-text" id="totalIncome"> {{ balances.Income }}</p>
                    <p>{{ preferences }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activity</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            {% for entry in balances.latest_entries %}
                            <tbody id="transactionTable">
                                <tr>
                                    <td>{{ entry.name}}</td>
                                    <td>{{ entry.date }}</td>
                                    <td>{{ entry.description }}</td>
                                    {% if entry.entry_type == 'Expense' %}<td class="text-danger">{{ entry.amount }}</td>{% else %}<td class="text-success">{{ entry.amount }}</td>{% endif %}
                                    <td>{% if entry.entry_type == 'Expense' %}Expense{% else %}Income{% endif %}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if balances.latest_entries %}
    <!-- Export and Import buttons -->
    <div class="container mt-1">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-1">
                <div class="col-md-5 d-flex justify-content-between mt-1">
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openExportModal" data-bs-target="#data-modal" data-bs-toggle="modal">Export Data</a>
                    <a class="btn btn-primary btn-lg px-7 py-2 rounded-pill mx-2" id="openImportModal" data-bs-target="#import-modal" data-bs-toggle="modal">Import Data</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Graph -->
    <div class="d-flex justify-content-center">
        <div class="chart-container" style="position: relative; width: 80vw; height: 60vh;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
<!-- Export MODAL -->
<div class="modal fade" id="data-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Export Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-body text-muted">
                    Select the file format that you prefer:
                </div>
                <form id="exportForm" method="post" action="{% url 'export_everything' %}">
                    {% csrf_token %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filetype" id="csvfile" value="csv">
                        <label class="form-check-label" for="csvfile">
                        CSV
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filetype" id="excelfile" value="xlsx">
                        <label class="form-check-label" for="excelfile">
                        EXCEL
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="filetype" id="pdffile" value="pdf">
                        <label class="form-check-label" for="pdffile">
                        PDF
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="exportButton" disabled>Export</button>
            </div>
        </div>
    </div>
</div>
<!-- IMPORT MODAL -->
<div class="modal fade" id="import-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Import Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if user.username %}
            <div class="modal-body text-center">
                <div class="modal-body text-muted">
                    <p>Note that only <strong>csv</strong> and <strong>xls/xlsx</strong> files are supported for import as of now.</p>
                    Do you want to delete the previous data and just keep the imported one? (Check the box below if that is the case)
                </div>
                <div class="form-check d-inline-block">
                    <input class="form-check-input" type="checkbox" id="confirmCheckbox">
                    <label class="form-check-label" for="confirmCheckbox">
                        Yes, I do wish to delete the previous data and just keep the imported one.
                    </label>
                </div>
                <div class="form-group mt-2">
                    <input type="file" id="fileInput" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="importIncomeButton">Import</button>
            </div>
            {% else %}
            <div class="modal-body text-center">
                <div class="modal-body text-muted">
                    Sorry but only authenticated users can import data! Be sure to export your data in a <strong>csv</strong> or <strong>xls/xlsx</strong> file and
                    <a class="text-info" href="{% url 'register' %}">Register!</a> or <a class="text-info" href="{% url 'login' %}">Login!</a> into an existing account to use this feature!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if user.username %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/importexport-dashboard.js' %}"></script>
{% else %}
<script src="{% static 'js/non-auth/dashboard.js' %}"></script>
<script src="{% static 'js/non-auth/export-dashboard.js' %}"></script>
{% endif %}

{% endblock %}
